<div class="container">
  <div class="form">
    <form (ngSubmit)="onSubmit()" #f="ngForm" name="form" class="form-grid">
      <mat-form-field class="input-width">
        <mat-label>Imie</mat-label>
        <input
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
          (change)="clearInfo()"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="input-width">
        <mat-label>Nazwisko</mat-label>
        <input
          name="name"
          [(ngModel)]="form.surname"
          required
          #name="ngModel"
          (change)="clearInfo()"
          matInput
        />
      </mat-form-field>

      <button mat-stroked-button color="primary" class="btn-form">
        <span>Dodaj studenta</span>
      </button>
      <div class="form-group alert-box">
        <div *ngIf="f.submitted && name.invalid">
          <div class="alert alert-danger add-validate-info">
            Imię oraz nazwisko są wymagane
          </div>
        </div>
        <div *ngIf="f.submitted && isSuccess">
          <div class="add-info">Sukces</div>
        </div>
      </div>
    </form>

    <hr />
    <div class="overflowin-table">
      <mat-table class="table-custom" [dataSource]="dataSource">
        <ng-container matColumnDef="subjectNo">
          <mat-header-cell *matHeaderCellDef>Student</mat-header-cell>
          <mat-cell *matCellDef="let student">
            {{ student.name + " " + student.surname }}</mat-cell
          >
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
