<div class="container">
  <div class="container-content">
    <form (ngSubmit)="onSubmit()" #f="ngForm" name="form" class="form-grid">
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input
          name="name"
          [(ngModel)]="form.name"
          required
          #name="ngModel"
          minlength="4"
          (change)="clearInfo()"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Przedmiot</mat-label>
        <mat-select required [formControl]="subjectCtrl">
          <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dzień</mat-label>
        <mat-select required [formControl]="subjectCtrl">
          <mat-option *ngFor="let day of daysList" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <input
        class="time-picker"
        placeholder="Godzina*"
        required
        [ngxTimepicker]="picker"
      />
      <ngx-material-timepicker #picker></ngx-material-timepicker>

      <mat-form-field>
        <mat-select
          required
          [formControl]="studentsCtrl"
          placeholder="Studenci"
          [multiple]="true"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Szukaj"
              noEntriesFoundLabel="Nie znaleziono żadnego studenta"
              [formControl]="studentsFilterCtrl"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let student of filteredStudents | async"
            [value]="student.id"
          >
            {{ student.name }} {{ student.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <a (click)="addCheckingForm()" mat-stroked-button color="primary" class="btn-form">
        <span>Dodaj formę oceniania</span>
      </a>
      <div [formGroup]="checkingFormGroup"  class="checkingForms overflowin-table" *ngIf="checkingForms.length > 0" >
        <div style="display: contents" *ngFor="let cForm of checkingForms">
      <mat-form-field
        class="input-width"
      >
        <mat-label>Nazwa</mat-label>
        <input
          name="name"
          formControlName="name"
          minlength="4"
          (change)="clearInfo()"
          matInput
        />
      </mat-form-field>
        <mat-form-field class="input-width">
          <mat-label>Waga</mat-label>
          <input
            name="weight"
            formControlName="weight"
            (change)="clearInfo()"
            matInput
          />
        </mat-form-field>
        </div>
      </div>
      <button mat-stroked-button color="primary" class="btn-form margin">
        <span>Dodaj kurs</span>
      </button>
    </form>
  </div>
</div>
