h1 {
  padding: 20px;
}

.input {
  color: black;
}

.checkingForms {
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(140px, 140px));
}

.input-width {
  width: 100%;
}

.form-grid {
  display: grid;
  margin-left: auto;
  max-width: 60%;
  margin-right: auto;
  margin-top: 2rem;
}

.btn-form {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #c6b497;
}

.margin {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.add-validate-info {
  color: lightcoral;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  margin: 15px;
}

.table-custom {
  background-color: transparent;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  overflow: auto;
}

.overflowin-table {
  overflow: auto;
  height: 140px;
}

.add-info {
  color: #49fa00;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  margin: 15px;
}

.time-picker {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 25px 0;
  font-size: 12pt;
}

.time-picker.ng-touched.ng-invalid,
.name-input.ng-touched.ng-invalid,
.weight-input.ng-touched.ng-invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.8);
}

.time-picker.ng-touched.ng-invalid::placeholder,
.name-input.ng-touched.ng-invalid::placeholder,
.weight-input.ng-touched.ng-invalid::placeholder {
  color: rgba(255, 0, 0, 0.8);
}

.time-picker:focus {
  outline: none;
}

.form-name-input {
  width: 50%;
}

.form-weight-input {
  width: 35%;
  margin-left: 20px;
}

.checking-form-container {
  display: block;
}

.checking-form-record {
  position: relative;
  width: 300px;
  height: 50px;
  display: block;
}

.delete-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
}

.delete-button:hover {
  cursor: pointer;
}

.line {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.line:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .form {
    width: 100%;
  }
  .form-grid {
    max-width: 80%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #204047;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #13262b;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
