<div class="container">
  <div class="container-content">
    <form (ngSubmit)="onSubmit()" #f="ngForm" name="form" class="form-grid">
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input
          name="name"
          class="input"
          [formControl]="nameCtrl"
          required
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Przedmiot</mat-label>
        <mat-select required [formControl]="subjectCtrl">
          <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dzień</mat-label>
        <mat-select required [formControl]="dayCtrl">
          <mat-option *ngFor="let day of daysList" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <input
        class="time-picker"
        placeholder="Godzina*"
        [formControl]="timeCtrl"
        required
        [ngxTimepicker]="picker"
      />
      <ngx-material-timepicker format="24" #picker></ngx-material-timepicker>

      <mat-form-field>
        <mat-select
          required
          [formControl]="studentsCtrl"
          placeholder="Studenci"
          [multiple]="true"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Szukaj"
              noEntriesFoundLabel="Nie znaleziono żadnego studenta"
              [formControl]="studentsFilterCtrl"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let student of filteredStudents | async"
            [value]="student.id"
          >
            {{ student.name }} {{ student.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <a
        (click)="addCheckingForm()"
        mat-stroked-button
        color="primary"
        class="btn-form"
      >
        <span>Dodaj formę oceniania</span>
      </a>
      <div
        class="checkingForms overflowin-table"
        *ngIf="checkingForms.length > 0"
      >
        <div
          class="checking-form-container"
          *ngFor="let cForm of checkingForms"
        >
          <div class="checking-form-record">
            <mat-form-field class="form-name-input">
              <mat-label>Nazwa</mat-label>
              <input
                [formControl]="cForm.nameForm"
                class="input"
                required
                autocomplete="off"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="form-weight-input">
              <mat-label>Waga</mat-label>
              <input
                type="number"
                class="input"
                step=".01"
                [formControl]="cForm.weightForm"
                required
                autocomplete="off"
                matInput
              />
            </mat-form-field>

            <div class="delete-button" (click)="deleteForm(cForm)">
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
      <button mat-stroked-button color="primary" class="btn-form margin">
        <span>Dodaj kurs</span>
      </button>
    </form>
  </div>
</div>
