.btn-hub{
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}
.btn-hub:hover {
  cursor: pointer;
}


.overflowin-table {
  overflow: auto;
  height: 50%;
}

.container-content {
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 60vh;
  background: linear-gradient(
    90deg,
    rgba(207, 211, 206, 0.2721463585434174) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.16);
  border: 1px solid #839b97;
}
