<div class="container">
  <div class="hub-nav">
    <a
      (click)="onTeacherCourses(teacherCourses)"
      color="primary"
      class="btn-hub"
      #teacherCourses
    >
      <span>Twoje kursy</span>
    </a>
    <a (click)="onAddCourse(course)" color="primary" class="btn-hub" #course>
      <span>Dodaj kurs</span>
    </a>
    <div class="nav-element">
      <a
        (click)="activeSubmenu(activateSubmenu)"
        color="primary"
        class="btn-hub btn-sub-main"
        #activateSubmenu
      >
        <span>Dodaj</span>
      </a>
      <div class="submenu" #submenu>
        <a
          (click)="onAddSubject(addSubject)"
          class="btn-hub btn-sub"
          #addSubject
        >
          <span>Przedmiot</span>
        </a>
        <a
          (click)="onAddStudent(addStudent)"
          class="btn-hub btn-sub"
          #addStudent
        >
          <span>Studenta</span>
        </a>
      </div>
    </div>
    <a (click)="logout()" color="primary" class="btn-hub">
      <span>Wyloguj</span>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
