<div class="container">
  <div class="form">
    <h1>Zaloguj się do naszej platformy</h1>
    <form
      *ngIf="!isLoggedIn"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      name="form"
      class="form-grid">
      <mat-form-field class="input-width">
        <mat-label>Login:</mat-label>
        <input
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          matInput
        />
      </mat-form-field>

      <mat-form-field class="input-width">
        <mat-label>Hasło:</mat-label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
          matInput
        />

      </mat-form-field>
      <div *ngIf="f.submitted && username.invalid">
        <div class="login-validate-info"> Wymagany jest login </div>
      </div>
      <div  *ngIf="f.submitted && password.invalid">
        <div class="login-validate-info"> Wymagane jest hasło </div>
      </div>

      <button mat-stroked-button color="primary" class="btn-form">
        <span>Zaloguj</span>
      </button>

      <div class="form-group">
        <div
          class="alert alert-danger login-validate-info"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          {{ errorMessage }}
        </div>
      </div>

    </form>
  </div>
</div>
