<div class="hub-nav">

  <div (click)="checkPresence()" class="btn-hub">
    Wyświetl kurs
  </div>

<div *ngIf="isChecked" (click)="displayCourse()" class="btn-hub">
  Sprawdź obecność
</div>

</div>

<div *ngIf="isPresence && isChecked" class="flex-system">

  <div class="container-content-small">
    <form action="">
    <table>
      <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Obecność</th>
      </tr>
      <tr *ngFor="let cF of checkboxForms, let i=index">
        <td> {{ course.students[i].name }}</td>
        <td> {{ course.students[i].surname }}</td>
        <td>
          <mat-checkbox [formControl]="cF.bool" class="example-margin" value="false"></mat-checkbox>
        </td>
      </tr>
    </table>

    <div (click)="checkPost()" class="btn-hub">
      Zatwierdź
    </div>
    </form>
  </div>

</div>

<div *ngIf="!isPresence" class="flex-system">

    <div class="container-content-big">
      <form action="">
        <table>
          <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th *ngFor="let checkForm of studentsData.checkingForms">{{ checkForm.name }}</th>
            <th *ngFor="let date of studentsData.studentsData[0].presences"> {{ date.date }}</th>
          </tr>
          <tr *ngFor="let students of studentsData.studentsData">
            <td> {{ students.student.name }}</td>
            <td> {{ students.student.surname }}</td>

            <td *ngFor="let students of studentsData.checkingForms">
              <mat-form-field  class="width-table-input">
                <mat-label>Ocena</mat-label>
                <input
                  type="number"
                  class=""
                  autocomplete="off"
                  matInput
                />
              </mat-form-field>
            </td>
            <td *ngFor="let presenceArray of students.presences">
              <mat-checkbox class="example-margin" [checked]="presenceArray.presence" value="true"></mat-checkbox>
            </td>
          </tr>
        </table>
      </form>
    </div>


</div>
