/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$iami-app-primary: mat-palette($mat-indigo);
$iami-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$iami-app-warn:    mat-palette($mat-red);

 $iami-app: mat-light-theme((
   color: (
     primary: $iami-app-primary,
     accent: $iami-app-accent,
     warn: $iami-app-warn,
   )
 ));
@include angular-material-theme($iami-app);
