@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body { height: 100%; }

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: #34626c;
  font-family: Montserrat, serif;
  color: white;
}
