
.form{
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 60vh;
  background: linear-gradient(90deg, rgba(207,211,206,0.2721463585434174) 100%, rgba(0,212,255,1) 100%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  border: 1px solid #839b97;
}

h1{
  padding: 20px;
}

.input{
  background: linear-gradient(90deg, rgba(207,211,206,0.2721463585434174) 100%, rgba(0,212,255,1) 100%);
  padding: 1.5rem;
  margin: 3rem;
}
.form-grid {
  display: grid;
  margin-left: auto;
  max-width: 60%;
  margin-right: auto;
  margin-top: 1.3rem;
}


.btn-form{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #c6b497;
}

input-width{
  width: 50%;
}

.add-validate-info{
  color: lightcoral;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  margin: 15px;
}

.table-custom{
  background-color: transparent;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  overflow: auto;
}

.overflowin-table{
  overflow: auto;
}

.add-info{
  color: #49fa00;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  margin: 15px;
}

@media (max-width: 1200px) {
  .form{
    width: 50%;
  }
}

@media (max-width: 600px) {
  .form{
    width: 100%;
  }
  .form-grid{
    max-width: 80%;
  }
}

